body {
    margin: 0;
    font-family: 'Your Font', sans-serif; /* Replace 'Your Font' with your preferred font */
}

.secondary-navbar {
    background-color: rgba(239, 244, 246, 1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px; /* Adjust the height as needed */
    padding: 0 20px;
}

.title {
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold;
    margin-right: auto; /* Push the title to the left */
}

.search, .contact, .translate {
    width: 60px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    margin-left: 16px; /* Adjust the gap as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*
for the hover effects:
    color; rgba(0, 110, 50, 1)
    font: bolder in the navbar


 */